.container {
    max-width: 1000px;
    margin: 50px auto;
    min-height: 500px;
    padding: 10px; 
}

.grid {
    display: grid;
    grid-template-columns: 35% 62%;
    gap: 30px;
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
}

.grid>div {
    height: 230px;
    overflow: hidden;
}

.imgBox {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imgBox>img {
    height: 100%;
    border-radius: 50%;
}

.textBox {
    padding-left: 30px;
}


@media screen and (max-width: 768px) {
    .grid {
        grid-template-columns: 100%;
    }
}
