.container {
    max-width: 1000px;
    margin: 50px auto 0px;
    min-height: 500px;
    border-radius: 10px;
    padding: 30px;
    background: #f8f8f8;
}

.grid {
    display: grid;
    grid-template-columns: 35% 62%;
    gap: 30px;
}

.grid>div {
    height: 230px;
    overflow: hidden;
}

.imgBox {
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.imgBox>img {
    height: 100%;
    border-radius: 50%;
}

.textBox {
    padding-left: 30px;
}