.main {
    border: 1px solid red;
    max-width: 1000px;
    margin: 30px auto;
}

.textBox {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.grid>div {
    border: 1px solid red;
}