body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

.loading {
    display: flex;
    justify-content: center;
    height: 30vh;
}

.loading>p {
    margin: auto;
    font-size: 18px;
}

.searchGifDiv {
    max-width: 400px;
    margin:auto;
}

.searchGifDiv>img{
    width: 100%;
}